<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Wedding List App</title>
    {% endif %}
</head>

<body>

</body>
    <div>Wedding Shop:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('list') }}">Wedding List</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</html>
