{% extends "base.html" %}

<style>
    center {text-align: center;}
    td {text-align: center;}
</style>

{% block content %}
    <h1>Main Gift list</h1>
    <table>
        <thead>
            <tr class="center">
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for prod in products %}
            <tbody>
                <tr class="center">
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.brand }}</td>
                    <td>{% if prod.price %}£{{ "%.2f" % prod.price|float }}{% else %}N/A{% endif %}</td>
                    <td>{% if prod.in_stock_quantity %}{{ prod.in_stock_quantity }}{% else %}Sold Out{% endif %}</td>
                    <td>
                        {% if prod.id not in products_on_list and prod.in_stock_quantity %}
                            <form action="{{ url_for('add_product_to_user_gift_list') }}" method="POST">
                                <input type="submit" name="{{ prod.id }}" value="Add to List"/>
                            </form>
                        {% endif %}
                        {% if prod.id in products_on_list %}
                        <form action="{{ url_for('remove_product_to_user_gift_list') }}" method="POST">
                            <input type="submit" name="{{ prod.id }}" value="Remove from List"/>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <br><br>

    <a href="{{ url_for('user_gift_list') }}">Show your gift list</a>

{% endblock %}